/*
  Used color:
  Blue-light: #6382a9
  Blue-dark: #364760;
  Blue-darkest: #2a394f;
  Blue-light: #15a4fa;

*/

/* Begin reset */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a { text-decoration: none;}

/* 
  **********************
      Global styling
  **********************
*/ 

@font-face {
  font-family:Ampersand;
  src:local('Baskerville'),
  local('Goudy Old Style'),
  local('Palatino'),
  local('Book Antiqua');
  unicode-range:U+26;
  font-style: italic;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; height: 100%;} 

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-size: .9em;
  background: #d5dae6;
  color: #666;
}

img {
  max-width: 100%;
}

pre {
  tab-size: 0;
}

/* 
  **********************
      Title styling
  **********************
*/ 

h1, h2, h3, h4 {
  color: #6a788d;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

h1 {
  font-size: 1.8em; 
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

p {
  margin-bottom: 1rem;
}


/* 
  **********************
      Global flexbox
  **********************
*/

/* Add Flexbox items with a ,*/
main,
footer,
body > header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* 
  **********************
      Header styling
  **********************
*/

body > header {
  background-color: #364760;
  color: white;
  text-align: center;
  width: 100%;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
  
  body > header > div {
    background-color: #2a394f;
    padding: 2.5em 0;
    width: 100%;
  }

  body > header > div h1 {
    color: white;
    font-size: 1.5em;
    font-family: Ampersand, sans-serif;
  }

  body > header > div figure {
    max-width: 13em;
    padding: 1em;
    margin: 0 auto;
  }

  body > header > div figure img {
    border-radius: 50%;
    border: 5px solid #6382a9;
    margin-bottom: 0.5rem;
  }

  body > header > div p em {
    font-weight: bold;
    font-style: italic;
  }

/* 
  **********************
      Nav styling
  **********************
*/

body > header nav {
  width: 100%;
  padding: 1.5em 0;
}

  body > header > nav ul li a {
    display: block;
    border-left: 5px solid transparent;
    color: white;
    font-weight: 600;
    text-align: left;
    padding: 1.3em 1.5em;
    font-size: .9em;

    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }

  body > header > nav ul li a:hover {
    background-color: #2a394f;
    border-left: 5px solid #15a4fa;
  }

  body > header > nav svg {
    height: 1.2em;
    fill: #6382a9;
    margin-right: .5em;
    width: 1.2em;
  }

/* 
  **********************
      Main styling
  **********************
*/

main {
  width: 100%;
  padding: 1em;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
  
  main > article {
    background-color: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 1.5em;
    margin-bottom: 1rem;
    width: 100%;
  }

  main > article p {
    max-width: 38em;
  }

  main > article a {
    color: #5ab0ee;
  }

  main > article figure {
    width: 100%;
  }

  main > article figure img {
    width: 100%;
    margin-bottom: 1em;
  }

  main > article figcaption {
    font-weight: 600;
    font-style: italic;
    color: #acb3c6;
    width: 100%;
    font-size: 1em;
    margin-bottom: 1em;
  }

/* 
  **********************
      Footer styling
  **********************
*/
footer {
  width: 100%;
  color: white;
  padding: 2em 1.5em;
  background-color: #2a394f;

  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

  footer > * {
    width: 100%;
    margin-bottom: 1em;
  }

  footer a {
    color: #5ab0ee;
  }

  footer a:hover {
    color: white;
  }

/* 
  **********************
      Form styling
  **********************
*/
label {
  display: inline-block;
  margin-bottom: 1em;
  padding: 1em;
  background: #eef1f7;
  width: 100%;
}

  label span {
    display: block;
    color: #6a788d;
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 0.5em;
    font-size: 1em;
  }

fieldset {
  margin-bottom: 1.875em;
  border: none;
}

legend {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: #6a788d;
  color: #eef1f7;
  width: 100%;
  font-weight: bold;
}

input {
  width: 100%;
  height: 3.333em;
  margin-bottom: 1.6667em;
  padding: 0.625em 3.75em 0.625em 1.25em;
  border: 1px solid #eee;
  outline: none;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
  font-size: 0.9375em;
  -webkit-appearance: none;
}

button {
  border: none;
  background-color: rgba(90, 176, 238, 1);
  color: white;
  font-size: 1em;
  font-weight: 600;
  padding: 1em 1.2em;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

button:hover {
  background-color: rgba(90, 176, 238, 0.8);
}

@media (min-width: 35.625em) { /* 570px */
    
    body {
      font-size: 1em;
    }

    main > article figure {
      width: 49%;
      padding: 1em;
      display: inline-block;
    }

    footer {
      justify-content: space-between;
    }

    footer > * {
      width: calc(100% / 3);
    }

}

@media (min-width: 56.25em) { /* 830px */
  
  body > header {
    position: fixed;
    width: 20em;
    top: 0px;
    height: 100%;
  }
  
  main > article figure {
    width: 100%;
    padding: 1em;
    display: inline-block;
  }

  main, 
  footer {
    padding-left: 21em;
  }

  main > article {
    width: 40em;
  }

  main {
    justify-content: center;
  }

}

@media (min-width: 62.500em) { /* 1000px */
  
  main {
    justify-content: space-around;
  }

}
