.search {
  margin-top: 25px;
  margin-bottom: 30px;

  form {
    border-bottom: 1px solid #979797;
    margin: 0 auto;
    padding: 0 0 15px 10px;
    width: 100%;
  }

}

  .search__button {
    background: url('../images/icon-search.svg');
    background-size: cover;
    border: none;
    height: 22px;
    float: left;
    margin-right: 10px;
    outline: 0;
    width: 22px;
  }

  .search__input {
    border: none;
    background: 0 0;
    color: #323232;
    font-size: 18px;
    height: 25px;
    outline: 0;
    width: 85%;
  }

  @media only screen and (min-width : 35em){ 
      
    .search__button {
      margin-right: 20px;
    }

    .search__input {

      width: 90%;
    }
  
  }