/* Styling results */
.results .result:nth-child(4n) {
  margin-right: 0;
}

.result {
  height: 24em;
  width: 100%;
  float: none;
  margin-right: 0;
  margin-bottom: 1em;
} 
  
  .result__mask {
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    height: 18em;
    overflow: hidden;
    margin-bottom: 1em;
  }

  .result__image {
    width: 100%;
  }

  .result__meta {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform .2s ease-in;
  }

  .result__mask:hover .result__meta {
    transform: translateY(0);
  }

  .search__results {
    
    transition: all .2s ease-in;
    opacity: 0;
    transform: translateY(10px);

    &.is-active {
    opacity: 1;
    transform: translateY(0px);
    }
  }
  

  @media only screen and (min-width : 35em){ 
    
    .result {
      
      width: 23%;
      float: left;
      margin-right: 2%;
      margin-bottom: 1em;
    } 
  
  }

//   result {
//   height: 24em;
//   width: 23%;
//   float: left;
//   margin-right: 2%;
//   margin-bottom: 1em;
// } 
  
//   .result__mask {
//     border-radius: 8px;
//     position: relative;
//     cursor: pointer;
//     height: 18em;
//     overflow: hidden;
//     margin-bottom: 1em;
//   }

//   .result__image {
//     width: 100%;
//   }

//   .result__meta {
//     border-radius: 8px;
//     background: rgba(0, 0, 0, 0.6);
//     color: white;
//     padding: 2em;
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     transform: translateY(100%);
//     transition: transform .2s ease-in;
//   }

//   .result__mask:hover .result__meta {
//     transform: translateY(0);
//   }